

* {
  box-sizing: content-box;
  position: relative;
}

body {
  /*background-image: url('../images/background.jpg');*/
  background-attachment: fixed;
  background-position: center;
  font-family: Century Gothic;
  font-size: 14px;
  padding: 0px;
  margin: 0px;
}

label{
	font-weight: bold;
	color: #888888;
}

select{
	height: 22px;
	min-width: 100px;
}

#studview{
	cell-padding: 20px;
}


.formTable td{
	padding: 10px;
	min-width: 100px;
}

.formError{
	padding-left: 5px;
	color: red;
	font-weight: normal;
	font-size: 12px;
}

.tableContainer{
	overflow-y: auto; 
	overflow-x: hidden; 
	height: 350px; 
	border: 2px solid grey; 
	width: 900px;
}

.disabledInput{
	color: black;
	background-color:white;
	border: none;
	font-weight: bold;
	padding: 0px;
}

select.disabledInput{
	 -webkit-appearance: none;
}

input.disabledInput{
	width: 100%;
	size: 0px;
}


.listTable{
	table-layout: auto;
	border-collapse: collapse;
	width: 100%;
	margin-bottom: 20px;
}


.listTable tr{
	height: 15px;
}

.listTable tr > th{
	 border: 1px solid grey;
	 height: 30px;
	 text-align: center;
}

.listTable tr > td{
	 border: 1px solid grey;
	 height: 20px;
	 padding-left: 10px;
	 width: auto;
}

.linkButton{
	display: inline-block;
	background-color: white;
	padding: 10px 15px;
	border: 1px solid black;
	font-weight: bold;
	margin: auto;
	min-width: 80px;
	text-align: center;
	text-decoration: none;
}

a{
	text-decoration: none;
}

a:active {
    color: blue;
}

.floatright{
	float: right;
}


#studview > *{
	text-align: left;
}

#horizontalAlign{
	padding: 15px;
}

#horizontalAlign div{
	display: inline-block;
	margin-top: 15px;
	margin-left: 15px;
}

.divElements{
	display: inline-block;
	margin-top: 15px;
	margin-left: 15px;
}


#nav-header {
  background-color: #000;
  /*background-image: url('../images/top-nav-bg.jpg');*/
  background-repeat: no-repeat;
  background-size: cover;
  /* border: #000 1px solid; */
  border-bottom: #000 15px solid;
}

#nav-header * {
  margin: 0;
  padding: 0;
}

#nav-header ul {
  list-style: none;
}

#nav-header ul li {
  display: inline-block;
  position: relative;
  text-align:left;
}

#nav-header ul li a {
  color: #000;
  display: inline-block;
  font-family: Century Gothic;
  font-weight: bold;
  text-decoration: none;
  padding: 10px 25px;
}

#nav-header ul li a:hover {
  /*background-image: url('../images/top-nav-item-hover-bg.jpg');*/
  background-repeat: no-repeat;
  background-size: cover;
  color: red;
  transform: rotate(-10deg);
  transition: width .5s, height .5s, transform .5s;
}

#nav-header ul li a:active,
#nav-header a.active {
  color: red;
}

#nav-header ul li ul.dropdown {
  /*background-image: url('../images/top-nav-dropdown-bg.jpg');*/
  color: white;
  display: none;
  left: 1;
  min-width: 125px;
  position: absolute;
  z-index: 999;
}

#nav-header ul li:hover ul.dropdown {
  display: block;
}

#nav-header ul li ul.dropdown li {
  display: block;
}

#nav-header ul li ul.dropdown li a {
  display: block;
  text-align: left;
}


#main {
  border-top: 10px solid #0333B3;
  display: flex;
  flex-direction: row;
}

#main > *{
	margin-left: 50px;
	margin-top: 30px;
}


#main-left {
  width: 20%; 
  padding: 0;
  margin: 0 5px 0 0;
  display: flex;
  flex-direction: column;
  border-right: 2px solid #0333B3;
  min-height: 600px;
  max-height: 600px;
}

#main-left > * {
  margin-top: 0px;
}

#main-left > *:last-child {
  margin-bottom: 0;
}

#main-left-nav-panel {
  height: 600px;
  display: flex;
  flex-direction: column;  
}

#main-left-nav-panel * {
  margin: 0;
  padding: 0;
}

#main-left-nav-panel ul {
  display: block;
  font-family: Century Gothic;
  list-style: none;
  padding-top: 40px; 
}

#main-left-nav-panel ul li {
  display: block;
  position: relative;
  line-height: 21px;
  text-align: left;
}

#main-left-nav-panel ul li a:link {
  display: block;
  padding: 10px;
  margin-left: 20px;
  text-decoration: none;
  font-weight: 900;
  font-size: 17px; 
  color: grey;
}


#main-left-nav-panel ul li a:visited {
  color: green;
}

#main-left-nav-panel ul li a:hover:after {
  color: blue;
  /*background-image: url('../images/top-nav-item-hover-bg.jpg');*/
  transition: width 1s, height .5s, transform .5s;
  width: 50%;
}

#main-left-nav-panel ul li a:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  border-bottom: 2px solid green; 	
  transition: 0.2s;   
}


#main-left-nav-panel ul li a:active {
  border:1px solid blue;
}










.arrows {
  width: 280px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between
}

.arrows a {
  display: block;
}

.arrows a img {
  -webkit-transition: width 1s, height 1s, -webkit-transform 1s;
  transition: width 1s, height 1s, -webkit-transform 1s;
}

.arrows a img:hover {
  -webkit-transform: rotate(20deg);
  transform: rotate(20deg);
}

.article > * {
  margin-top: 0 !important;
  margin-bottom: 16px !important;
}

.article > p {
  line-height: 1.5em;
}
